/** Wizard */
.Wizard-module-wizard {
    height: 350px;
    width: 350px;
}

.Wizard-module-wizard-step {
    opacity: 1;
    pointer-events: inherit;
    position: relative;
    z-index: 1;
}

.Wizard-module-wizard-animated {
    -webkit-animation-duration: .8192s;
    animation-duration: .8192s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    }
    
    /** fadeInRight */
    @-webkit-keyframes Wizard-module-fadeInRight {
      from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    
    @keyframes Wizard-module-fadeInRight {
      from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    
    .Wizard-module-fadeInRight {
      -webkit-animation-name: Wizard-module-fadeInRight;
      animation-name: Wizard-module-fadeInRight;
    }
    
    /** fadeInLeft */
    @-webkit-keyframes Wizard-module-fadeInLeft {
      from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    
    @keyframes Wizard-module-fadeInLeft {
      from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    
    .Wizard-module-fadeInLeft {
      -webkit-animation-name: Wizard-module-fadeInLeft;
      animation-name: Wizard-module-fadeInLeft;
    }
    
    /** fadeOutRight */
    @-webkit-keyframes Wizard-module-fadeOutRight {
      from {
        opacity: 1;
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
      }
    }
    
    @keyframes Wizard-module-fadeOutRight {
      from {
        opacity: 1;
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
      }
    }
    
    .Wizard-module-fadeOutRight {
      -webkit-animation-name: Wizard-module-fadeOutRight;
      animation-name: Wizard-module-fadeOutRight;
    }
    
    /** fadeOutLeft */
    @-webkit-keyframes Wizard-module-fadeOutLeft {
      from {
        opacity: 1;
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      }
    }
    
    @keyframes Wizard-module-fadeOutLeft {
      from {
        opacity: 1;
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      }
    }
    
    .Wizard-module-fadeOutLeft {
      -webkit-animation-name: Wizard-module-fadeOutLeft;
      animation-name: Wizard-module-fadeOutLeft;
    }