.control-map .modal {
    background-color: transparent;
}

.control-map .modal-dialog {
    position: absolute;
    top: 110px;
    right: 270px;
    margin: unset;
    max-width: 400px;
}

.control-map .modal-content {
    border-radius: 0.1rem;
    background: white;
    border: 1px solid #00000025;
    /* margin-left: 130%; */
    width: unset;
    height: auto;
    max-height: unset;
    max-width: unset;
    min-width: unset;
    margin-left: unset;
}